html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: "Montserrat", sans-serif;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.bb {
  background-color: red;
  width: 100px;
  height: 100px;
}

@import './header';
@import './selectors.scss';
@import './picks.scss';
