html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Montserrat", sans-serif; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.bb {
  background-color: red;
  width: 100px;
  height: 100px; }

header {
  background-color: #75BC97;
  position: relative;
  overflow: hidden; }
  header #heading-container {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 50px;
    top: 50px; }
    header #heading-container svg {
      z-index: 6; }
    header #heading-container h1 {
      color: white;
      margin: 50px 0;
      padding-right: 50px;
      font-size: 300%;
      font-weight: bold; }
  header #desktop-hero-img-container {
    display: none; }
  header #mobile-hero-img-container {
    position: relative;
    width: 100%;
    padding-bottom: 300px; }
    header #mobile-hero-img-container .background-img {
      z-index: 2;
      position: relative;
      width: 100%; }
    header #mobile-hero-img-container .overlay-img {
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 50px; }

@media screen and (min-width: 700px) {
  #mobile-hero-img-container {
    display: none; }
  header #heading-container {
    left: 100px; }
    header #heading-container h1 {
      font-size: 400%; }
  header #desktop-hero-img-container {
    display: block;
    position: relative;
    width: 100%;
    height: 500px; }
    header #desktop-hero-img-container .left-leaves {
      position: absolute;
      height: 100%;
      z-index: 2;
      left: 0; }
    header #desktop-hero-img-container .right-leaves {
      position: absolute;
      height: 100%;
      z-index: 3;
      right: 0; }
    header #desktop-hero-img-container .plant-person {
      z-index: 2;
      position: absolute;
      height: 100%;
      right: 18vw; } }

@media screen and (min-width: 1200px) {
  header #heading-container {
    left: 200px; } }

@media screen and (min-width: 1600px) {
  header #heading-container {
    left: 350px; } }

#selector-section {
  padding: 30px 50px;
  color: #8c8c8c; }
  #selector-section .selector-item {
    padding-top: 20px; }
    #selector-section .selector-item .image-container {
      height: 100px;
      margin-bottom: 30px;
      display: flex;
      align-items: center; }
      #selector-section .selector-item .image-container img {
        max-width: 100px; }
    #selector-section .selector-item .select-container {
      position: relative; }
      #selector-section .selector-item .select-container label {
        display: block; }
        #selector-section .selector-item .select-container label span {
          font-weight: 600; }
      #selector-section .selector-item .select-container select {
        position: relative;
        z-index: 2;
        border: 1px solid gray;
        color: #8c8c8c;
        padding: 13px 22px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 9999px;
        margin-top: 10px; }
        #selector-section .selector-item .select-container select:hover {
          cursor: pointer;
          background-color: rgba(220, 220, 220, 0.3); }
      #selector-section .selector-item .select-container img {
        z-index: 1;
        position: absolute;
        right: 10px;
        bottom: 14px;
        width: 15px;
        height: 15px;
        transform: rotate(90deg); }

@media screen and (min-width: 700px) {
  #selector-section {
    padding: 30px 100px;
    display: flex; }
    #selector-section .selector-item {
      padding: 30px 10px;
      width: 33.33333%;
      max-width: 370px; }
      #selector-section .selector-item .select-container label {
        height: 50px; } }

@media screen and (min-width: 1200px) {
  #selector-section {
    padding: 50px 200px;
    justify-content: space-between; }
    #selector-section .selector-item .select-container label {
      height: 30px; } }

@media screen and (min-width: 1600px) {
  #selector-section {
    padding: 60px 350px; } }

#picks-section {
  background-color: #F6F6F6;
  padding: 50px 50px;
  color: #8c8c8c; }
  #picks-section #no-results .text-container h1 {
    font-weight: 600;
    font-size: 300%; }
  #picks-section #no-results .text-container p {
    margin-top: 20px;
    font-size: 120%; }
  #picks-section #no-results .img-container {
    display: flex;
    justify-content: center;
    margin-top: 30px; }
  #picks-section #results .results-header img {
    max-height: 100px; }
  #picks-section #results .results-header h1 {
    margin-top: 20px;
    font-size: 300%;
    color: #1f1f1f;
    font-weight: 600; }
  #picks-section #results #results-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 50px; }
    #picks-section #results #results-container .results-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      border-radius: 5px;
      height: 270px;
      padding: 10px 20px 20px 20px;
      overflow: hidden; }
      #picks-section #results #results-container .results-item:hover {
        opacity: 0.9; }
      #picks-section #results #results-container .results-item h2 {
        color: #15573F;
        font-weight: 600;
        width: 100%;
        text-align: start; }
      #picks-section #results #results-container .results-item .img-container {
        flex-grow: 1;
        display: flex;
        align-items: center; }
        #picks-section #results #results-container .results-item .img-container img {
          max-height: 200px;
          max-width: 100%; }

@media screen and (min-width: 700px) {
  #picks-section {
    padding: 90px 100px; }
    #picks-section #no-results {
      display: flex; }
      #picks-section #no-results .text-container {
        margin: auto 0; }
        #picks-section #no-results .text-container h1 {
          font-size: 400%; }
      #picks-section #no-results .img-container {
        align-items: center;
        margin-top: 0;
        margin-left: 20px; }
    #picks-section #results .results-header h1 {
      font-size: 400%; } }

@media screen and (min-width: 1200px) {
  #picks-section {
    padding: 90px 200px; }
    #picks-section #no-results .img-container {
      margin-left: 100px; } }

@media screen and (min-width: 1600px) {
  #picks-section {
    padding: 90px 350px; } }
